language: objective-c
osx_image: xcode8.3
xcode_sdk: iphonesimulatore10.3
xcode_project: "Mobile Test Runner for Jama/Mobile Test Runner for Jama.xcodeproj"
xcode_scheme: "Mobile Test Runner for Jama"

script:
- xcodebuild -project "Mobile Test Runner for Jama/Mobile Test Runner for Jama.xcodeproj" -scheme "Mobile Test Runner for Jama" -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 7,OS=10.3.1'  ONLY_ACTIVE_ARCH=NO clean build test 
